
@{
    ViewBag.Title = "Chart";
}

<head>
    <title>Chart</title>
</head>
<body>
    <h1>Prototyp</h1>
    <div id="buttons">
        <button id="button">Click</button>
    </div>
    <div id="container">

    </div>
    @section scripts{
        <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
        <script src="~/signalr/hubs"></script>
        <script src="~/Scripts/highcharts.js"></script>
        <script src="~/Scripts/exporting.js"></script>
        <script type="text/javascript">
            $(function () {
                $('#button').click(function () {
                    //add something to the chart
                    appendPoint();
                });

                chart = new Highcharts.Chart({
                    chart: {
                        renderTo: 'container',
                        type: 'line'
                    },
                    title: {
                        text: 'CPU Auslastung'
                    },
                    xAxis: {
                        categories: ['12:00:00', '12:00:05', '12:00:10', '12:00:15', '12:00:20', '12:00:25', '12:00:30', '12:00:35', '12:00:40', '12:00:45', '12:00:50', '12:00:55']
                    },
                    yAxis: {
                        title: {
                            text: 'in %'
                        }
                    },
                    exporting: {
                        enabled: false
                    },
                    credits: {
                        enabled: false
                    },
                    legend: {
                        enabled: false
                    },
                    series: [{
                        data: [12, 15, 25, 20, 30, 50, 50, 46, 40, 20, 8, 16]
                    }]
                });

                function appendPoint() {
                    // add new Point
                    var series = chart.series[0];
                    //var y = series.data[0].y + 2;
                    series.addPoint(myJSON.value, false, true);

                    //add new Timestamp
                    var categories = chart.xAxis[0].categories;
                    categories.push(myJSON.timestamp);
                    chart.xAxis[0].setCategories(categories, false);

                    chart.redraw();
                }

                var myJSON = {
                    "timestamp": "12:00:00",
                    "value" : 15
                }

            });
        </script>
    }
</body>