
@{
    ViewBag.Title = "Chart";
}

<head>
    <title>Chart</title>
</head>
<body>
    <h1>Prototyp</h1>
    <div id="buttons">
        <button id="button">Click</button>
    </div>
    <div id="container">

    </div>
    @section scripts{
        <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
        <script src="~/signalr/hubs"></script>
        <script src="~/Scripts/highcharts.js"></script>
        <script src="~/Scripts/exporting.js"></script>
        <script type="text/javascript">
            $(function () {
                var notifications = $.connection.snmpDataHub;
                // Create a function that the hub can call to broadcast messages.
                notifications.client.receiveData = function (dataValue) {
                    if (dataValue.ObjectID == "1.3.6.1.2.1.25.3.3.1.2.2") {
                        appendPoint(dataValue);
                    }
                };

                // Start the connection.
                $.connection.hub.start().done(function () {

                    notifications.server.joinDataGroup("Agent_1");

                }).fail(function (e) {
                    alert(e);
                });

                //$('#button').click(function () {
                //    //add something to the chart

                //    var myJSON = {
                //        "timestamp": "12:00:00",
                //        "value": 15
                //    }
                //    appendPoint(myJSON);
                //});

                chart = new Highcharts.Chart({
                    chart: {
                        renderTo: 'container',
                        type: 'line'
                    },
                    title: {
                        text: 'CPU Auslastung'
                    },
                    xAxis: {
                        categories: ['12:00:00', '12:00:05', '12:00:10', '12:00:15', '12:00:20', '12:00:25', '12:00:30', '12:00:35', '12:00:40', '12:00:45', '12:00:50', '12:00:55']
                    },
                    yAxis: {
                        title: {
                            text: 'in %'
                        },
                        min: 0,
                        max: 100
                    },
                    exporting: {
                        enabled: false
                    },
                    credits: {
                        enabled: false
                    },
                    legend: {
                        enabled: false
                    },
                    series: [{
                        data: [12, 15, 25, 20, 30, 50, 50, 46, 40, 20, 8, 16]
                    }]
                });

                function appendPoint(json) {
                    // add new Point
                    var series = chart.series[0];
                    //var y = series.data[0].y + 2;
                    series.addPoint(parseInt(json.Result), false, true);

                    //add new Timestamp
                    var categories = chart.xAxis[0].categories;
                    categories.push(json.MonitorTimestamp);
                    chart.xAxis[0].setCategories(categories, false);

                    chart.redraw();
                }


            });
        </script>
    }
</body>