@Styles.Render("~/Content/dasboardStyles")

<script type="text/javascript">
    $(document).ready(function () {
        loadDashboard();

        $("#dataContainer").on("receiveAgentInsertDelete", function () {
            loadDashboard();
        });
    });

    function loadDashboard() {
        $("#dataContainer").empty();
        $.ajax({
            url: "@Url.Action("Monitor_Agent_Small", "MonitorTemplate")",
            method: "GET",
            success: function (data) {
                var templateFunc = doT.template(data);
                $.ajax({
                    url: "@Url.Action("GetAgents", "Data")",
                    method: "GET",
                    cache: false,
                    success: function (agentData) {
                        $.each(agentData, function (index, value) {
                            $("#dataContainer").append(templateFunc(value));
                        });
                    }
                });
                
            }
        });
    }
</script>

<div id="dataContainer" class="container-fluid">

</div>



