@{
    ViewBag.Title = "Dashboard";
}

<button type="button" class="btn btn-default" data-toggle="offcanvas" data-target="#sideStatus" data-canvas="body">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
</button>

<div id="sideStatus" class="navmenu-fixed-right offcanvas">
    <h3>Gesamtzustand</h3>
    <div>[BILD] 1</div>
    <div>[BILD] 0</div>
    <div>[BILD] 1</div>
    <h3>Logs</h3>
    <div id="sideLog">
        <ul>
            <li>08:10 System gestoppt</li>
            <li>08:00 System gestartet</li>
            <li>07:42 Interner Fehler</li>
        </ul>
    </div>
</div>