@{
    ViewBag.Title = "Home Page";
}

<head>
    <title>New Notifications</title>
    
</head>
<body>
    <h1>Broadcast Realtime SQL data using SignalR</h1>
    <div id="dataContainer">
    </div>
    @section scripts{
        <script type="text/javascript">
            $(document).ready(function () {
                var def = {
                    loadfile: function (url) {
                        var temp;
                        $.ajax({
                            url: url + a,
                            type: 'get',
                            async: false,
                            success: function (html) {
                                temp = html;
                            }
                        });

                        return temp;
                    }
                };

                $.ajax({
                    url: "@Url.Action("Monitor_Agent","MonitorTemplate")",
                    method: "GET",
                    success: function (data) {
                        var monitorTest = doT.template(data,undefined,def);
                        var json = { "AgentNr": 1, "MonitorTests": [{ "ObjectNrReplaced": "1_3_6_1_2_1_25_3_3_1_2_2" }]};
                        $("#dataContainer").html(monitorTest(json));
                    }
                })
            });

        </script>
    }
</body>