@{
    ViewBag.Title = "SNMP Monitor";
}

@section Scripts{
    <script type="text/javascript">
    $(document).ready(function () {
        var app = $.sammy(function () {
            this.element_selector = '#contentContainer';
            this.get('#/', function (context) {
                context.load("@Url.Action("Dashboard","Home")").swap();
            });
            this.get('#/Monitor', function (context) {
                context.load("@Url.Action("Monitor","Home")").swap();
            });
            this.get('#/Logs', function (context) {
                context.load("@Url.Action("Logs","Home")").swap();
            });
            this.get('#/AddAgent', function (context) {
                context.load("@Url.Action("AddAgent","Home")").swap();
            });
        });

        app.run("#/");
    });
</script>
}

<div id="contentContainer">

</div>


