<script type="text/javascript">
    $("#dataContainer").on("receiveEvent", function (dataValue) {
        $("#logTable").prepend(createLineForTableFromSignalR(dataValue));
    });

    $(document).ready(function () {
        $.ajax({
            url: "@Url.Action("GetAllEvents", "Data")",
            type: "GET",
            success: function (data) {
                $.each(data, function (index, value) {
                    $("#logTable").append(createLineForTable(value));
                });
            },
            error: function () {

            }
        });
    });

    function createLineForTable(value) {
        return "<tr><td>" + value.EventNr + "</td><td>" + value.ExceptionType + "</td><td>" + value.Category + "</td><td>" + new Date(parseInt(value.EventTimestamp.replace("/Date(", "").replace(")/", ""))) + "</td><td>" + value.HResult + "</td><td>" + value.Message + "</td><td>" + value.Stacktrace + "</td></tr>";
    }

    function createLineForTableFromSignalR(value) {
        return "<tr><td>" + value.EventNr + "</td><td>" + value.ExceptionType + "</td><td>" + value.Category + "</td><td>" + Date.parse(value.EventTimestamp + "+02:00") + "</td><td>" + value.HResult + "</td><td>" + value.Message + "</td><td>" + value.Stacktrace + "</td></tr>";
    }
</script>

<h2>Logs</h2>

<div id="dataContainer" class="table-responsive col-xs-12">
    <table class="table">
        <thead>
            <tr>
                <th>EventNr</th>
                <th>ExceptionType</th>
                <th>Category</th>
                <th>EventTimestamp</th>
                <th>HResult</th>
                <th>Message</th>
                <th>Stacktrace</th>
            </tr>
        </thead>
        <tbody id="logTable"></tbody>
    </table>
</div>

