<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            url: "@Url.Action("GetAllEvents", "Data")",
            type: "GET",
            success: function (data) {
                $.each(data, function (index, value) {
                    var line = "<tr><td>" + value.EventNr + "</td><td>" + value.ExceptionType + "</td><td>" + value.Category + "</td><td>" + new Date(parseInt(value.EventTimestamp.replace("/Date(", "").replace(")/", ""))) + "</td><td>" + value.HResult + "</td><td>" + value.Message + "</td><td>" + value.Stacktrace + "</td></tr>";
                    $("#logTable").append(line);
                });
            },
            error: function () {

            }
        });
    });
</script>

<h2>Logs</h2>

<div id="dataContainer" class="table-responsive col-xs-12">
    <table class="table">
        <thead>
            <tr>
                <th>EventNr</th>
                <th>ExceptionType</th>
                <th>Category</th>
                <th>EventTimestamp</th>
                <th>HResult</th>
                <th>Message</th>
                <th>Stacktrace</th>
            </tr>
        </thead>
        <tbody id="logTable"></tbody>
    </table>
</div>

