@model int
<script type="text/javascript">
    $(document).ready(function () {
        var model = @Model;
        $("#AgentDropdown select").on( "change", function(){
            window.location = "#/Monitor/" + $(this).val();
        });
        $.ajax({
            url: "@Url.Action("GetAgents", "Data")",
            type: "GET",
            async: false,
            success: function (data) {
                $.each(data, function(index, value){
                    var selected="";
                    if(model == 0&& index == 0){
                        window.location = "#/Monitor/" + value.AgentNr;
                    }
                    if(value.AgentNr == model){
                        selected = "selected = 'selected'";
                    }
                    addAgentToDropdown(value, selected);   
                });                 
            }
        });
        $.ajax({
            url: "@Url.Action("GetMonitorSummaryForAgent", "Data")/" + model,
            type: "GET",
            success: function (data) {
                createAgent(data);                    
            }
        });
    });


    function addAgentToDropdown(json, selected){
        $("#AgentDropdown select").append('<option value='+ json.AgentNr +' ' + selected + '>'+ json.Name +'</option>');

    }

    function createAgent(json) {
        var def = {
            loadfile: function (url) {
                var temp;
                $.ajax({
                    url: url + a,
                    type: 'get',
                    async: false,
                    success: function (html) {
                        temp = html;
                    }
                });

                return temp;
            }
        };

        $.ajax({
            url: "@Url.Action("Monitor_Agent","MonitorTemplate")",
            method: "GET",
            success: function (data) {
                var monitorTest = doT.template(data, undefined, def);
                if(json.Key != null){
                    $("#dataContainer").html(monitorTest(json));
                }
                else{
                    $("#dataContainer").html("Not Found");
                }
            }
        });
    }
</script>

<h2>Monitor</h2>
<div id="AgentDropdown" class="col-xs-11">
    <select class="form-control">
    </select>
</div>
<div id="dataContainer" class="col-xs-11">
</div>
