<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SNMPManager.ServiceLayer.Properties.Settings.ProdDatabase" connectionString="Data Source=152.96.56.75,40003;Initial Catalog=SNMPMonitor;Persist Security Info=True;User ID=Manager;Password=HSR-00228866"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
</configuration>
