<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SNMPMonitor.BusinessLayer.Properties.Settings.ProdDatabase"
            connectionString="Data Source=152.96.56.75,40003;Initial Catalog=SNMPMonitor;Persist Security Info=True;User ID=Manager;Password=HSR-00228866" />
    </connectionStrings>
</configuration>