<div class="agentSmallContainer col-xs-8 col-sm-6 col-lg-3">
    <div class="agentSmallWrapper">
        <table class="ma-danger">
            <tr>
                <td>
                    <div class="ma-small-padding agentSmallIcon">
                        <img src="~/Content/img/servericon.png" style="height:60px" alt="ServerIcon" class="img-rounded" />
                    </div>
                </td>
                <td>
                    <div class="ma-small-padding agentSmallText">
                        <h4 class="ma-small-h4">Server1</h4>
                        <span class="ma-small-text">Hostname</span><br />
                        <span class="ma-small-text">192.168.10.12</span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>