  <script type="text/javascript">
        $(document).ready(function () {
            $("#Chart{{=it.AgentNr}}_1_3_6_1_2_1_25_3_3").on("receiveDataForNr{{=it.AgentNr}}", function (event, dataValue) {
                if (dataValue.ObjectID == "1.3.6.1.2.1.25.3.3") {
                    appendPoint{{=it.AgentNr}}(dataValue);
                }
            });

            createChart{{=it.AgentNr}}();

        });
                    
        function appendPoint{{=it.AgentNr}}(value) {
            var chart = $("#Chart{{=it.AgentNr}}_1_3_6_1_2_1_25_3_3").highcharts();
            var shift = chart.series[0].data.length >= 15;
            var object = JSON.parse(value["Result"]);
            var cpuLoad = calcCpuLoad(object);
            chart.series[0].addPoint({ x:Date.parse(value.MonitorTimestamp), y: cpuLoad }, true, shift);
        }

        function calcCpuLoad(json) {
            var output = -1;
            var cpuLoad = 0;
            var counter = 0;
            $.each(json["Results"], function(index, value) {
                var oid = value.OID;
                if (oid.indexOf("1.3.6.1.2.1.25.3.3.1.2.") >= 0) {
                    counter++;
                    var parsedValue = parseInt(value.Value);
                    cpuLoad += parsedValue;
                }
            });
            if (counter > 0) {
                output = cpuLoad / counter;
            }
            return output;
        }

        function createChart{{=it.AgentNr}}() {
            Highcharts.setOptions({
                global: {
                    useUTC: false
                }
            });
            $("#Chart{{=it.AgentNr}}_1_3_6_1_2_1_25_3_3").highcharts({
                chart: {
                    type: 'line',
                    height: 300,
                    animation: Highcharts.svg
                },
                title: {
                    text: 'CPU Auslastung'
                },
                xAxis: {
                    type: 'datetime'
                },
                yAxis: {
                    title: {
                        text: 'in %'
                    },
                    min: 0,
                    max: 100
                },
                exporting: {
                    enabled: false
                },
                credits: {
                    enabled: false
                },
                legend: {
                    enabled: false
                },
                series: [{
                    name: "CPU Auslastung",
                    data: (function () {
                        var newdata = [];
                        $.ajax({
                            url: '@Url.Action("HistoryDataForOID","Data")',
                            data: 'id={{=it.AgentNr}}&oid=1.3.6.1.2.1.25.3.3&count=15',
                            async: false,
                            cache: false,
                            method: 'Get',
                            success: function (data) {
                                $.each(data.History, function (index, value) {
                                    var object = JSON.parse(value["Result"]);
                                    var cpuLoad = calcCpuLoad(object);
                                    newdata.push({ x: Date.parse(value.MonitorTimestamp), y: Math.round(cpuLoad) });
                                });
                            }
                        });
                        return newdata;
                    }())
                }]
            });     
        }
    </script>
    <div id="Chart{{=it.AgentNr}}_1_3_6_1_2_1_25_3_3" class="col-xs-12 col-lg-4 col-md-6">

</div>