{{function loadHostname(json){
    var output;
    var object = JSON.parse(json);
    if(object.Results.length > 0){
        output = object.Results[0].Value;
    }
    else{
        output = "undefined";
    }
    return output;
  }
}}

{{function getStatusClass(status){
    var output;
    switch(status) {
    case 1:
        output = 'ma-success';
        break;
    case 2:
        output = 'ma-warning';
        break;
    case 3:
        output = 'ma-danger';
        break;
    default:
        output = 'ma-danger'
    }
    return output;
  }
}}
<script type="text/javascript">
    $(document).ready(function () {
        $("#agentSmall_{{=it.AgentNr}}").on("receiveUpdatedAgentNr{{=it.AgentNr}}", function (event, dataValue) {
            $("#agentSmall_{{=it.AgentNr}} .agentName").html(dataValue.Name);
            $("#agentSmall_{{=it.AgentNr}} .ipAddress").html(dataValue.IPAddress + ':' + dataValue.Port);
            $("#agentSmall_{{=it.AgentNr}} .hostname").html(loadHostname{{=it.AgentNr}}(dataValue.SysName));
            if (dataValue.Status == 1) {
                useClass{{=it.AgentNr}}("ma-success");
            }
            else if (dataValue.Status == 2) {
                useClass{{=it.AgentNr}}("ma-warning");
            }
            else {
                useClass{{=it.AgentNr}}("ma-danger");
            }
        });
    });

    function useClass{{=it.AgentNr}}(className) {
        if (!$("#agentSmall_{{=it.AgentNr}} .agentSmallWrapper").hasClass(className)) {
            $("#agentSmall_{{=it.AgentNr}} .agentSmallWrapper").removeClass("ma-success");
            $("#agentSmall_{{=it.AgentNr}} .agentSmallWrapper").removeClass("ma-danger");
            $("#agentSmall_{{=it.AgentNr}} .agentSmallWrapper").removeClass("ma-warning");
            $("#agentSmall_{{=it.AgentNr}} .agentSmallWrapper").addClass(className);
        }
    }
    function loadHostname{{=it.AgentNr}}(json) {
        var output;
        try {
            var object = JSON.parse(json);
            if (object.Results.length > 0) {
                output = object.Results[0].Value;
            }
            else {
                output = "undefined";
            }
        }
        catch (e) {
            output = "Bad Format";
        }

        return output;
    }
</script>

<div id="agentSmall_{{=it.AgentNr}}" class="agentSmallContainer col-xs-11 col-sm-10 col-md-6 col-lg-4">
    <div class="agentSmallWrapper container-fluid {{=getStatusClass(it.Status)}}">
        <div class="agentSmallIcon col-xs-2">
            <a href="#/Monitor/{{=it.AgentNr}}">
                <img src="~/Content/img/servericon.png" style="width: 45px;" alt="ServerIcon" class="img-rounded" />
            </a>
        </div>
        <div class="agentSmallText col-xs-10">
            <h4 class="ma-small-h4 agentName">{{=it.Name}}</h4>
            <span class="ma-small-text hostname">{{=loadHostname(it.SysName)}}</span><br />
            <span class="ma-small-text ipAddress">{{=it.IPAddress}}:{{=it.Port}}</span>
        </div>
    </div>
</div>