  <script type="text/javascript">
        $(document).ready(function () {
            var connection = $.hubConnection();
            connection.logging = true;
            var notifications = connection.createHubProxy("snmpDataHub");
            notifications.on("receiveData", function (dataValue) {
                if (dataValue.ObjectID == "1.3.6.1.2.1.25.3.3.1.2.8") {
                    appendPoint{{=it.AgentNr}}(dataValue);
                }
            });

            createChart{{=it.AgentNr}}();

            connection.start().done(function () {
                notifications.invoke("joinDataGroup","Agent_{{=it.AgentNr}}");
            }).fail(function (e) {
                alert(e);
            });

        });
                    
        function appendPoint{{=it.AgentNr}}(json) {
            var chart = $("#Chart{{=it.AgentNr}}_1_3_6_1_2_1_25_3_3_1_2_8").highcharts();
            var shift = chart.series[0].data.length >= 10;
            chart.series[0].addPoint({ x: new Date(json.MonitorTimestamp), y: parseInt(json.Result) }, true, shift);
        }

        function createChart{{=it.AgentNr}}() {
            Highcharts.setOptions({
                global: {
                    useUTC: false
                }
            });
            $("#Chart{{=it.AgentNr}}_1_3_6_1_2_1_25_3_3_1_2_8").highcharts({
                chart: {
                    type: 'line',
                    animation: Highcharts.svg
                },
                title: {
                    text: 'CPU Auslastung'
                },
                xAxis: {
                    type: 'datetime'
                },
                yAxis: {
                    title: {
                        text: 'in %'
                    },
                    min: 0,
                    max: 100
                },
                exporting: {
                    enabled: false
                },
                credits: {
                    enabled: false
                },
                legend: {
                    enabled: false
                },
                series: [{
                    name: "CPU Auslastung",
                    data: (function () {
                        var newdata = [];
                        $.ajax({
                            url: '@Url.Action("HistoryDataForOID","Data")',
                            data: 'id={{=it.AgentNr}}&oid=1.3.6.1.2.1.25.3.3.1.2.8',
                            async: false,
                            cache: false,
                            method: 'Get',
                            success: function (data) {
                                $.each(data.History, function (index, value) {
                                    newdata.push({ x: new Date(parseInt(value.MonitorTimestamp.replace("/Date(", "").replace(")/", ""))), y: parseInt(value.Result) });
                                });
                            }
                        });
                        return newdata;
                    }())
                }]
            });     
        }
    </script>
    <div id="Chart{{=it.AgentNr}}_1_3_6_1_2_1_25_3_3_1_2_8">

    </div>