<div id="agentSmallWrapper">
    <table class="ma-danger">
        <tr>
            <td>
                <div id="agentSmallIcon" class="ma-small-padding">
                    <img src="~/Content/img/servericon.png" style="height:60px" alt="ServerIcon" class="img-rounded" />
                </div>
            </td>
            <td>
                <div id="agentSmallText" class="ma-small-padding">
                    <h4 class="ma-small-h4">Server1</h4>
                    <span class="ma-small-text">Hostname</span><br />
                    <span class="ma-small-text">192.168.10.12</span>
                </div>
            </td>
        </tr>
    </table>   
</div>