<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            url: "@Url.Action("Monitor_Harddisk","MonitorTemplate")",
            method: "GET",
            success: function (data) {
                var harddiskTemplateFunc = doT.template(data);
                var jsonForMonitor = { "AgentNr": {{=it.AgentNr}}};
                $("#Monitor_Harddisk").append(harddiskTemplateFunc(jsonForMonitor));
            },
            error: function(data, error, thrownerror){
            }
        });
        $.ajax({
            url: "@Url.Action("Monitor_Memory","MonitorTemplate")",
            method: "GET",
            success: function (data) {
                var memoryTemplateFunc = doT.template(data);
                var jsonForMonitor = { "AgentNr": {{=it.AgentNr}}};
                $("#Monitor_Memory").append(memoryTemplateFunc(jsonForMonitor));
            },
            error: function(data, error, thrownerror){
            }
        }); 
    });
</script>
<div>
    <div id="Monitor_Harddisk">
    </div>
    <div id="Monitor_Memory">
    </div>
</div>