    <script src="~/signalr/hubs"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var notifications = $.connection.snmpDataHub;
            notifications.client.receiveData = function (dataValue) {
                if (dataValue.ObjectID == "1.3.6.1.2.1.25.3.3.1.2.8") {
                    appendPoint(dataValue);
                }
            };

            createChart();

            $.connection.hub.start().done(function () {
                notifications.server.joinDataGroup("Agent_{{=it.AgentNr}}");

            }).fail(function (e) {
                alert(e);
            });

        });
                    
        function appendPoint(json) {
            var chart = $("#Chart{{=it.AgentNr}}_1_3_6_1_2_1_25_3_3_1_2_8").highcharts();
            var cpuserie = chart.series[0];
            
            shift = cpuserie.data.length >= 10;
            cpuserie.addPoint({ x: new Date(json.MonitorTimestamp), y: parseInt(json.Result) }, true, shift);
        }

        function createChart() {
            $("#Chart{{=it.AgentNr}}_1_3_6_1_2_1_25_3_3_1_2_8").highcharts({
                chart: {
                    type: 'line',
                    animation: Highcharts.svg
                },
                title: {
                    text: 'CPU Auslastung'
                },
                xAxis: {
                    type: 'datetime'
                },
                yAxis: {
                    title: {
                        text: 'in %'
                    },
                    min: 0,
                    max: 100
                },
                exporting: {
                    enabled: false
                },
                credits: {
                    enabled: false
                },
                legend: {
                    enabled: false
                },
                series: [{
                    name: "CPU Auslastung",
                    data: (function () {
                        var newdata = [];
                        $.ajax({
                            url: '@Url.Action("HistoryDataForOID","Data")',
                            data: 'id={{=it.AgentNr}}&oid=1.3.6.1.2.1.25.3.3.1.2.8',
                            async: false,
                            cache: false,
                            method: 'Get',
                            success: function (data) {
                                $.each(data.History, function (index, value) {
                                    newdata.push({ x: new Date(parseInt(value.MonitorTimestamp.replace("/Date(", "").replace(")/", ""))), y: parseInt(value.Result) });
                                });
                            }
                        });
                        return newdata;
                    }())
                }]
            });     
        }
    </script>
    <div id="Chart{{=it.AgentNr}}_1_3_6_1_2_1_25_3_3_1_2_8">

    </div>