<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SNMPManager.DataLayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SNMPManager.DataLayer.Properties.Settings.ProdDatabase"
            connectionString="Data Source=152.96.56.75,40003;Initial Catalog=SNMPMonitor;Persist Security Info=True;User ID=Manager;Password=HSR-00228866" />
    </connectionStrings>
    <applicationSettings>
        <SNMPManager.DataLayer.Properties.Settings>
            <setting name="LogPath" serializeAs="String">
                <value>./Log.txt</value>
            </setting>
        </SNMPManager.DataLayer.Properties.Settings>
    </applicationSettings>
</configuration>