@import "bootstrap/variables.less";
.navbar-btn-margin {
    margin: 10px 15px;
}
@media (min-width: @screen-sm-min) {
  .body-content {
    padding-right: 300px;
  }
  .navmenu-headnav{
      height: @navbar-height + 3;
  }
}

@media (max-width: @screen-sm-max){
  .navmenu-headnav{
      height: @navbar-height + 1;
  }
}

.btn-toggle-status-fixed-right{
    float:right;
}
.navmenu-headnav{
    background-color: @gray-darker;
    width: 300px;
    
}
.border-bottom{
    border-bottom: 2px solid @gray-light;
}
.border-none-navmenu{
    border: none;
}
.navmenu-sidebar-content{
    margin: @nav-link-padding;
}
.ma-small-text {
    color: @gray-dark;
}
.ma-small-h4 {
    margin-top: 3px;
    margin-bottom: 3px;
}
.ma-small-padding {
    padding: 5px;
}
#agentSmallWrapper {
    background-color: @gray;
    width: 200px;
    border: 2px solid @gray-light;
}
.ma-success {
    border-left: 10px solid @brand-success;
}
.ma-danger {
    border-left: 10px solid @brand-danger;
}
.ma-warning {
    border-left: 10px solid @brand-warning;
}