@import "bootstrap/variables.less";
.navbar-btn-margin {
    margin: 10px 15px;
}

@media (min-width: @screen-sm-min) {
  .body-content {
    padding-right: 300px;
  }
}

.btn-toggle-status-fixed-right{
    float:right;
}