@import "bootstrap/variables.less";
.navbar-btn-margin {
    margin: 10px 15px;
}
.ma-small-text {
    color: @gray-dark;
}
.ma-small-h4 {
    margin-top: 3px;
    margin-bottom: 3px;
}
.ma-small-padding {
    padding: 5px;
}
#agentSmallWrapper {
    background-color: @gray;
    width: 200px;
    border: 2px solid @gray-light;
}
.ma-success {
    border-left: 10px solid @brand-success;
}
.ma-danger {
    border-left: 10px solid @brand-danger;
}
.ma-warning {
    border-left: 10px solid @brand-warning;
}